h1 {
    font-family: 'Futura Pt', sans-serif;
}

p {
    font-family: 'Futura Pt', sans-serif;
}

a {
    font-family: 'Futura Pt', sans-serif;
}
h2 {
  font-family: 'Futura Pt', sans-serif;
}
h3 {
  font-family: 'Futura Pt', sans-serif;
}
button {
  font-family: 'Futura Pt', sans-serif;
}
.content__height {
    min-height: calc(100vh - 85px);
}
.table__width {
    max-width: calc(100% - 262px);
}
 
  .tag {
    display: flex;
    border-radius: 15px;
    border: 1px solid rgb(53, 53, 243);
    background-color: rgb(72, 72, 208);
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
  }
  
  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
  .okvir__slike {
    box-shadow: 0px 0px 5px 0px !important;
  }
  .okvir__slike::before {
    border-radius: 2px;
    bottom: -6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.okvir__slike::after {
    border-radius: 2px;
    bottom: -6px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.okvir__slike-shop::before {
    border-radius: 2px;
    bottom: -0.5vmin;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.50) inset;
    content: "";
    left: -0.5vmin;
    position: absolute;
    right: -0.5vmin;
    top: -0.5vmin;
}

.okvir__slike-shop::after {
    border-radius: 2px;
    bottom: -1vmin;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -1vmin;
    position: absolute;
    right: -1vmin;
    top: -1vmin;
}
